<div class="row">
   <div class="col-lg-2"></div>
   <div class="col-lg-8">
      <div class="bs-component">
         <center>
            <div class="jumbotron sivoprovidno">
               <h1 class="display-7">Hakaton za srednjoškolce!</h1>
               <p class="lead">Hakaton za srednjoškolce je projekat koji prvi put organizuje udruženje studenata informatike FONIS. Reč je o 24-časovnom takmičenju u formiranju rešenja za zadati problem i prezentovanje istih pred stručnim žirijem. </p>
               <hr class="my-4">
               <p class="lead">
                  <a class="btn btn-primary btn-lg" href="/app/prijava" role="button">Prijavi se</a>
               </p>
            </div>
         </center>
      </div>
   </div>
   <div class="col-lg-2"></div>
</div>
